.Form{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: aliceblue;    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}